<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!--
<form action="/subscribe" method="post">
    <p><label for="firstname">First Name: <input name="firstname" id="firstname"></label></p>
    <p><label for="lastname">Last Name: <input name="lastname" id="lastname"></label></p>
    <p><label for="email">Email: <input name="email" id="email" type="email"></label></p>
    <p><label for="newsletter">Check this box to receive updates: <input name="newsletter" id="newsletter"
                                                                   type="checkbox" value="yes"></label></p>
    <input type="submit" value="submit">
</form>
-->


<form action="/add-quote" method="post">
    <p><label for="username">Username: <input name="username" id="username"></label></p>
    <p><label for="quote">Quote: <textarea name="quote" id="quote" maxlength="75"></textarea></label></p>
    <input type="submit" value="submit">
</form>
